.menu{
  text-align: end;
}

.menu__button {
  position: relative;
  margin-top: 23px;
  margin-bottom: 23px;
  height: 37px;
  width: 44px;
  background-color: #000000;
  border: none;
  display: none;
  @media (max-width: 768px) {
    display: inline-block;
  }

}
.menu__button--line {
  margin: 0 auto;
  height: 3px;
  margin-bottom: 2px;
  width: 22px;
  background-color: white;
}

.line1 {
  position: relative;
  rotate: 0deg;
  top: 0;
  animation: line1 1s;
  &__active{
    rotate: 45deg;
    top: 4px;
    animation: line1-active 1s;
  }
}
@keyframes line1 {
  0% {
    rotate: 45deg;
    top: 4px;
  }
  100% {
    rotate: 0deg;
    top: 0;
  }
}
@keyframes line1-active {
  0% {
    rotate: 0deg;
    top: 0;
  }
  100% {
    rotate: 45deg;
    top: 4px;
  }
}
.line2 {
  position: relative;
  rotate: 0deg;
  bottom: 0;
  animation: line2 1s;
  &__active{
    rotate: 135deg;
  bottom: 1px;
  animation: line2-active 1s;
  }
}
@keyframes line2 {
  0% {
    rotate: 135deg;
    bottom: 1px;
  }
  100% {
    rotate: 0deg;
    bottom: 0;
  }
}
@keyframes line2-active {
  0% {
    bottom: 0;
    rotate: 0deg;
  }
  100% {
    rotate: 135deg;
    bottom: 1px;
  }
}
.line3 {
  opacity: 1;
  animation: line3 1s;
  &__active{
    opacity: 0;
  animation: line3-active 1s;
  }
}
@keyframes line3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line3-active {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
