.footer-bacground {
  background: #000000;
  padding-top: 66px;
  padding-bottom: 70px;
  @media (max-width:500px){
    padding-top: 38px;
    padding-bottom: 47px;
  }
}
.footer-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-information__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fefefe;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 22px;
  @media (max-width:600px){
    font-size: 14px;
  }
  @media (max-width:500px){
   margin-bottom: 8px;
  }
}
.footer-information__text {
  color: $footer-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 684px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 37px;
  @media (max-width:690px){
    font-size: 12px;
    line-height: 20px;
    max-width: 303px;
  }
  @media (max-width:500px){
    margin-bottom: 26px;
  }
  &--span {
    @media (max-width: 500px) {
      display: none;
    }
  }
}
.footer-information__list {
  @include list-style-none;
  display: flex;
  column-gap: 5px;
}
.footer-information__contact {
  margin-top: 34px;
  margin-bottom: 0;
  color: $footer-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  &--address::after {
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
  }
  &--tel::after {
    content: "/";
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (max-width: 625px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
  }
  @media (max-width:500px){
    margin-top: 25px;
  }
}
