.main-header__list {
  @include list-style-none;
  @include flex-center;
  column-gap: 68px;
  padding-top: 45px;
  padding-bottom: 51px;
  @media (max-width: 930px) {
    column-gap: 33px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
.nav-list__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  @include text-transform;
  color: $main-color;
  &--active {
    color: #57a4a4;
  }
}
.main-header__image {
  height: auto;
  margin-bottom: 66px;
  @media(max-width:500px){
    margin-bottom: 38px;
  }
}
.menu-button-list {
  @include list-style-none;
  background-color: #f5f5f5;
  width: 182px;
  position: absolute;
  right: 0;
  top: 60px;
}
.button-list-active {
  display: none;
}
.button-list__link {
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  color: $main-color;
  @include text-transform;
  padding-left: 13px;
  &--active {
    color: #57a4a4;
  }
}
.button-list__item {
  padding-top: 5px;
  padding-bottom: 5px;
  &:hover {
    background-color: #e5e5e5;
  }
}
