.background-block-shots {
  background: rgba(0, 0, 0, 0.03);
  mix-blend-mode: normal;
  padding-top: 47px;
  padding-bottom: 49px;
  @media (max-width:500px){
    padding-top: 38px;
    padding-bottom: 42px;
  }
}

.block-instagram-shots__list {
  @include list-style-none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @media (max-width:500px){
    margin-bottom: 13px;
  }
}
.shots-list__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $main-color;
  text-transform: uppercase;
  @media (max-width: 580px) {
   font-size: 14px;
  }
  &--next {
    font-size: 13px;
    @media (max-width: 580px) {
      display: none;
    }
  }

}
.block-instagram-shots__image {
  @include list-style-none;
  display: flex;
  column-gap: 10px;
}
.image-list__img {
  height: auto;
}
.image-list__item {
  &--img2 {
    @media (max-width: 380px) {
      display: none;
    }
  }
  &--img3 {
    @media (max-width: 580px) {
      display: none;
    }
  }
  &--img4 {
    @media (max-width: 900px) {
      display: none;
    }
  }
}
