@mixin list-style-none{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
}
@mixin text-transform{
    letter-spacing: 1.1px;
  text-transform: uppercase;
}