.block-recent-posts__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $main-color;
  text-transform: uppercase;
  margin: 0;
}
.block-recent-posts__list {
  @include list-style-none;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 32px;
  margin-bottom: 69px;
  @media (max-width:925px){
    grid-template-columns: 1fr;
  }
  @media (max-width:500px){
   margin-bottom: 40px;
  }
}
.block-recent-posts__item {
  display: flex;
  column-gap: 21px;
  @media (max-width:565px){
    flex-direction: column;
    &--item4{
      @media (max-width:565px){
        display: none;
      }
    }
  }
}
.content-posts__title {
  color: $main-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  @media (max-width:390px){
   font-size: 14px;
  }
}
.content-posts__subtext {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
  margin-top: 0;
  margin-bottom: 13px;
  @media (max-width:390px){
    font-size: 11px;
  }

  &--after::after {
    content: "/";
    padding-left: 8px;
    padding-right: 5px;
  }
}
.content-posts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  margin: 0;
  max-width: 404px;
  @media (max-width:390px){
    display: none;
  }
}
